<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ url_for('home') }}">Accueil</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
      <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                {% for section in get_sections() %}
                  <li class="nav-item">
                      <a class="nav-link {% if request.path == '/'+section.slug %}active{% endif %}" href="{{ url_for('section', section_slug=section.slug) }}">
                          {{ section.name }}
                      </a>
                  </li>
                {% endfor %}
            </ul>
        </div>
        <p class="text-right">
            <i class="fas fa-star"></i>
            <a class="" href="{{ url_for('flux') }}">Flux d'actualité du site</a>
        </p>
</nav>